{% extends "_layout.html" %}

{% block content %}
<div class="container mt-5">
  <form action="/student/add" method="post">
  <div class="mb-3">
    <label class="form-label">Id</label>
    <input type="text" class="form-control" name="id" id="id">
  </div>
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input type="text" class="form-control" name="name" id="name">
  </div><div class="mb-3">
    <label class="form-label">Roll No</label>
    <input type="text" class="form-control" name="rollno" id="rollno">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}